<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
         
         
	<servlet>
		<servlet-name>teams</servlet-name>
		<jsp-file>/teams.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>teams</servlet-name>
		<url-pattern>/teams</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>players</servlet-name>
		<jsp-file>/players.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>players</servlet-name>
		<url-pattern>/players</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>games</servlet-name>
		<jsp-file>/games.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>games</servlet-name>
		<url-pattern>/games</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>about</servlet-name>
		<jsp-file>/about.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>about</servlet-name>
		<url-pattern>/about</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>search</servlet-name>
		<jsp-file>/search.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>databaseFillGames</servlet-name>
		<servlet-class>basketballstats.databaseFillGames</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>databaseFillGames</servlet-name>
		<url-pattern>/daily/dbgames</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>databaseFillTeams</servlet-name>
		<servlet-class>basketballstats.databaseFillTeams</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>databaseFillTeams</servlet-name>
		<url-pattern>/daily/dbteams</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>databaseFillPlayers</servlet-name>
		<servlet-class>basketballstats.databaseFillPlayers</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>databaseFillPlayers</servlet-name>
		<url-pattern>/daily/dbplayers</url-pattern>
	</servlet-mapping>
         
         
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>